@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: linear-gradient(163deg, #A40606 0%,#D98324 100%);
    color: white;
}

.header-bg{
    background-image: linear-gradient(163deg, #A40606 0%,#D98324 100%);
}

.footer-bg{
    background-image: linear-gradient(163deg, #A40606 0%,#D98324 100%);
}

.color-card{
    background: rgba(236, 229, 229, 0.34);
}


/* background-color: rgb(59, 54, 2); */